In [1]:
import pandas as pd
import numpy as np

In [35]:
fechas2 = pd.date_range(start='1970', end='2015', freq='Y') # crear rango de fechas.
fechas2 =fechas2.map(lambda x: str(x.year)) #.year es un atributo del formato datetime Index.
fechas2

DatetimeIndex(['1970-12-31', '1971-12-31', '1972-12-31', '1973-12-31',
               '1974-12-31', '1975-12-31', '1976-12-31', '1977-12-31',
               '1978-12-31', '1979-12-31', '1980-12-31', '1981-12-31',
               '1982-12-31', '1983-12-31', '1984-12-31', '1985-12-31',
               '1986-12-31', '1987-12-31', '1988-12-31', '1989-12-31',
               '1990-12-31', '1991-12-31', '1992-12-31', '1993-12-31',
               '1994-12-31', '1995-12-31', '1996-12-31', '1997-12-31',
               '1998-12-31', '1999-12-31', '2000-12-31', '2001-12-31',
               '2002-12-31', '2003-12-31', '2004-12-31', '2005-12-31',
               '2006-12-31', '2007-12-31', '2008-12-31', '2009-12-31',
               '2010-12-31', '2011-12-31', '2012-12-31', '2013-12-31',
               '2014-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [7]:
type(fechas2)

pandas.core.indexes.base.Index

In [3]:
fechas = []

In [4]:
for i in fechas2:
    valor = str(i)
    fechas.append(valor)

In [36]:
fechas2.map(lambda x: (str(x)))

Index(['1970-12-31 00:00:00', '1971-12-31 00:00:00', '1972-12-31 00:00:00',
       '1973-12-31 00:00:00', '1974-12-31 00:00:00', '1975-12-31 00:00:00',
       '1976-12-31 00:00:00', '1977-12-31 00:00:00', '1978-12-31 00:00:00',
       '1979-12-31 00:00:00', '1980-12-31 00:00:00', '1981-12-31 00:00:00',
       '1982-12-31 00:00:00', '1983-12-31 00:00:00', '1984-12-31 00:00:00',
       '1985-12-31 00:00:00', '1986-12-31 00:00:00', '1987-12-31 00:00:00',
       '1988-12-31 00:00:00', '1989-12-31 00:00:00', '1990-12-31 00:00:00',
       '1991-12-31 00:00:00', '1992-12-31 00:00:00', '1993-12-31 00:00:00',
       '1994-12-31 00:00:00', '1995-12-31 00:00:00', '1996-12-31 00:00:00',
       '1997-12-31 00:00:00', '1998-12-31 00:00:00', '1999-12-31 00:00:00',
       '2000-12-31 00:00:00', '2001-12-31 00:00:00', '2002-12-31 00:00:00',
       '2003-12-31 00:00:00', '2004-12-31 00:00:00', '2005-12-31 00:00:00',
       '2006-12-31 00:00:00', '2007-12-31 00:00:00', '2008-12-31 00:00:00',
       '2009-12-31 00:00:00', '2010-12-31 00:00:00', '2011-12-31 00:00:00',
       '2012-12-31 00:00:00', '2013-12-31 00:00:00', '2014-12-31 00:00:00'],
      dtype='object')

In [25]:
fechas3

['1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014']

In [13]:
pd.Index(fechas)

Index(['1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014'],
      dtype='object')

Recorrer columnas para cambiar fechas

In [ ]:
years = []
for year in df_t_med['date']:
    values = year[:4]
    years.append(values)

In [ ]:
df_t_med['date'] = years
df_t_med['date'].astype(float)

In [ ]:
df_t_med2['date'] = df_t_med2['date'].map(lambda x: x[:4])
df_t_med2['date']

In [ ]:
df_t_med['date'].astype(str).map(lambda year: year[:4])

In [ ]:
fechas2 = pd.date_range(start='1970', end='2015', freq='Y')
fechas2 =fechas2.map(lambda x: str(x.year))
fechas2

In [ ]:
range(1971,2015)
map(str, range(1971,2015))
list(map(str, range(1971,2015)

DatetimeIndex puede convertir de str o datetime o datetimeindex a year

In [ ]:
pd.DatetimeIndex(df_t_med['date']).year # una columna en datetime se puede convertir a a√±os, meses, dias o horas

In [ ]:
pd.Index(df_t_med['date']).day