In [1]:
import pandas as pd

Pandas cuenta con una gran funcionalidad a la hora de interactuar con texto, es super versatil si estas interesado en crear modelos de análisis de lenguaje natural.

Comencemos cargando nuestra librería y creando un diccionario con nombres de personas.

In [2]:
data = {'names':['Sara Moreno 34',
                 'jUAn GOMez 23',
                 'CArlos mArtinez 89',
                 'Alfredo VelaZques 3',
                 'luis Mora 56',
                 '@freddier #platzi 10',pd.NA]}

#### Usemos los datos del diccionario para crear nuestro DataFrame. Nuestro DataFrame contiene una columna tipo texto, con variedades de caracteres especiales, números, mayúsculas e inclusive variables nulas.

In [6]:
df = pd.DataFrame(data)
df

                  names
0        Sara Moreno 34
1         jUAn GOMez 23
2    CArlos mArtinez 89
3   Alfredo VelaZques 3
4          luis Mora 56
5  @freddier #platzi 10
6                  <NA>

## Para usar las funciones asociadas a texto usamos str en nuestro DataFrame, por ejemplo, si se quiere colocar el texto en minúscula, basta con escribir:

In [18]:
print(
    df['names'].str.lower(),'\n''\n', # para mayusculas minusculas
    df['names'].str.upper(),'\n''\n', # metodos para mayusculas
    df['names'].str.capitalize() #y primera mayuscula.
)

0          sara moreno 34
1           juan gomez 23
2      carlos martinez 89
3     alfredo velazques 3
4            luis mora 56
5    @freddier #platzi 10
6                    <NA>
Name: names, dtype: object

 0          SARA MORENO 34
1           JUAN GOMEZ 23
2      CARLOS MARTINEZ 89
3     ALFREDO VELAZQUES 3
4            LUIS MORA 56
5    @FREDDIER #PLATZI 10
6                    <NA>
Name: names, dtype: object

 0          Sara moreno 34
1           Juan gomez 23
2      Carlos martinez 89
3     Alfredo velazques 3
4            Luis mora 56
5    @freddier #platzi 10
6                    <NA>
Name: names, dtype: object

## Para contar la longitud de nuestro texto usamos:

In [21]:
df['names'].str.len()

0      14
1      13
2      18
3      19
4      12
5      20
6    <NA>
Name: names, dtype: object

## Para dividir el texto por espacios usamos split y definimos el carácter por
el que queremos dividir, en este caso, un espacio vacío ' ' o '#':

In [24]:
print(
    df['names'].str.split(' '),'\n''\n',
    df['names'].str.split('#') 
     )

0          [Sara, Moreno, 34]
1           [jUAn, GOMez, 23]
2      [CArlos, mArtinez, 89]
3     [Alfredo, VelaZques, 3]
4            [luis, Mora, 56]
5    [@freddier, #platzi, 10]
6                        <NA>
Name: names, dtype: object

 0           [Sara Moreno 34]
1            [jUAn GOMez 23]
2       [CArlos mArtinez 89]
3      [Alfredo VelaZques 3]
4             [luis Mora 56]
5    [@freddier , platzi 10]
6                       <NA>
Name: names, dtype: object

## Para seleccionar los primeros o últimos 5 caracteres usamos:

In [27]:
print(
    df['names'].str[:5],'\n''\n',
    df['names'].str[-5:]
    
)

0    Sara
1    jUAn
2    CArlo
3    Alfre
4    luis
5    @fred
6     <NA>
Name: names, dtype: object

 0    no 34
1    ez 23
2    ez 89
3    ues 3
4    ra 56
5    zi 10
6     <NA>
Name: names, dtype: object

In [40]:
df['names'].str[::-1] #al reves.

0          43 oneroM araS
1           32 zeMOG nAUj
2      98 zenitrAm solrAC
3     3 seuqZaleV oderflA
4            65 aroM siul
5    01 iztalp# reidderf@
6                    <NA>
Name: names, dtype: object

In [41]:
df['names'].str.replace('Alfredo','Antonio') #string a remplazar, reemplazo

0          Sara Moreno 34
1           jUAn GOMez 23
2      CArlos mArtinez 89
3     Antonio VelaZques 3
4            luis Mora 56
5    @freddier #platzi 10
6                    <NA>
Name: names, dtype: object

## También podemos buscar una secuencia de texto en específico, en este caso,
'ara':

In [43]:
df['names'].str.findall('ara')

0    [ara]
1       []
2       []
3       []
4       []
5       []
6     <NA>
Name: names, dtype: object

## También podemos crear un filtro basándonos en una secuencia de texto en
específico, en este caso, las filas que tengan 'or':

In [44]:
df['names'].str.contains('or')

0     True
1    False
2    False
3    False
4     True
5    False
6     <NA>
Name: names, dtype: object

## Así mismo, podemos contar el número de ocurrencias de un caracter en específico,
por ejemplo, cuántas veces aparece la letra 'a':

In [46]:
df['names'].str.lower().str.count('a')

0       2
1       1
2       2
3       2
4       1
5       1
6    <NA>
Name: names, dtype: object

## Existen comandos más avanzados usando Regex, por ejemplo, si quiero extraer los
## caracteres numéricos:

In [48]:
df['names'].str.extract('([0-9]+)', expand=False)

0      34
1      23
2      89
3       3
4      56
5      10
6    <NA>
Name: names, dtype: object

## O, por ejemplo, si quiero extraer las menciones '@xxxx' del texto:

In [49]:
df['names'].str.replace('@[^\s]+','')

C:\Users\luisp\AppData\Local\Temp/ipykernel_36008/381694273.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['names'].str.replace('@[^\s]+','')

0         Sara Moreno 34
1          jUAn GOMez 23
2     CArlos mArtinez 89
3    Alfredo VelaZques 3
4           luis Mora 56
5             #platzi 10
6                   <NA>
Name: names, dtype: object

In [57]:
df['names'].str.contains('Sara')

0     True
1    False
2    False
3    False
4    False
5    False
6     <NA>
Name: names, dtype: object

 Devuelva la columna1 y columna2 con las filas que concidan con el texto buscado en la columna ( Puede ser cualquiera en el DataFrame
df [ ['columna1', 'columna2'] ][ df.columna.str.contains( 'busqueda' ) ]
 Concidencia en la columna1 y columna2, tambien puede usar el operados '|' para buscar en una columna u otra
df [ df.columna1.str.contains( 'Texto1' ) & df.columna_diferente.str.contains('Texto a buscar en nueva columna') ]

 Si se quiere buscar una concidencia exacta
df[ df.column == texto ]

 Buscar mas de una cadena
df[ df.column.str.contains('cadena1' | 'cadena 2') ]

 Ignorar mayusculas y expersiones regulares
df[ df.column.str.contains( 'texto a buscar', case=False, Regex=True) ]