In [1]:
import numpy as np

In [2]:
import pandas as pd
pd.__version__

'1.3.4'

In [2]:
#!pip install --upgrade pandas

In [78]:
dict_data = {'CO':300, 'MX': 400, 'CH': 200}
dict_data

{'CO': 300, 'MX': 400, 'CH': 200}

In [183]:
pd.Series(dict_data)

CH    [100, 800, 200]
CO    [100, 200, 300]
MX    [300, 500, 400]
dtype: object

In [184]:
dict_data = {'CH':[100,800,200], 'CO':[100,200,300], 'MX':[300,500,400]}
dict_data

{'CH': [100, 800, 200], 'CO': [100, 200, 300], 'MX': [300, 500, 400]}

In [185]:
df = pd.DataFrame(dict_data)
df

    CH   CO   MX
0  100  100  300
1  800  200  500
2  200  300  400

In [186]:
dict_data2 = {
    'edad' : [10,9,13,14,12,11,12],
    'cm' : [115,110,130,155,125,120,125],
    'pais' : ['co', 'ms', 'co','mx', 'mx','ch','ch'],
    'genero' : ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [5,10,8,np.nan,7,8,3],
    'Q2' : [7,9,9,8,8,8,9.]
  }
dict_data2

{'edad': [10, 9, 13, 14, 12, 11, 12],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'pais': ['co', 'ms', 'co', 'mx', 'mx', 'ch', 'ch'],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9.0]}

In [187]:
df = pd.DataFrame(dict_data2, index=['ana', 'benito', 'camilo', 'daniel', 'erika', 'fabian', 'gabriela'])
df

          edad   cm pais genero    Q1   Q2
ana         10  115   co      M   5.0  7.0
benito       9  110   ms      F  10.0  9.0
camilo      13  130   co      F   8.0  9.0
daniel      14  155   mx      M   NaN  8.0
erika       12  125   mx      M   7.0  8.0
fabian      11  120   ch      M   8.0  8.0
gabriela    12  125   ch      F   3.0  9.0

In [188]:
df.index

Index(['ana', 'benito', 'camilo', 'daniel', 'erika', 'fabian', 'gabriela'], dtype='object')

In [189]:
df.columns

Index(['edad', 'cm', 'pais', 'genero', 'Q1', 'Q2'], dtype='object')

In [190]:
df.values

array([[10, 115, 'co', 'M', 5.0, 7.0],
       [9, 110, 'ms', 'F', 10.0, 9.0],
       [13, 130, 'co', 'F', 8.0, 9.0],
       [14, 155, 'mx', 'M', nan, 8.0],
       [12, 125, 'mx', 'M', 7.0, 8.0],
       [11, 120, 'ch', 'M', 8.0, 8.0],
       [12, 125, 'ch', 'F', 3.0, 9.0]], dtype=object)

In [191]:
df['edad'] #acceder a valores de una coluymna

ana         10
benito       9
camilo      13
daniel      14
erika       12
fabian      11
gabriela    12
Name: edad, dtype: int64

In [192]:
df[['edad','cm','Q1']] #acceder a valores de varias columnas #por defecto trae todos los indices.

          edad   cm    Q1
ana         10  115   5.0
benito       9  110  10.0
camilo      13  130   8.0
daniel      14  155   NaN
erika       12  125   7.0
fabian      11  120   8.0
gabriela    12  125   3.0

In [193]:
df[1:3][['edad', 'cm', 'Q1']] #acceder a valores de varias filas  y columnas

        edad   cm    Q1
benito     9  110  10.0
camilo    13  130   8.0

## Metodos de busqueda por index loc

In [196]:
df.loc['daniel'] #un indice, todas las columnas.

edad       14
cm        155
pais       mx
genero      M
Q1        NaN
Q2        8.0
Name: daniel, dtype: object

In [199]:
df.loc['daniel' , 'Q1'] # un indice, una columna.

nan

In [203]:
df.loc[['benito', 'daniel'], 'Q1'] # 2 indices, 1 columna.

benito    10.0
daniel     NaN
Name: Q1, dtype: float64

In [ ]:
df.loc['daniel', ['Q1','Q2']]

In [89]:
df.loc['ana', ['edad', 'cm', 'Q1']] # 1 indice, 3 columnas.

edad     10
cm      115
Q1      5.0
Name: ana, dtype: object

In [90]:
df.loc[['ana','erika'],['edad', 'cm', 'Q1']] # 2 indices, 2 columnas.

       edad   cm   Q1
ana      10  115  5.0
erika    12  125  7.0

## iloc

In [211]:
df.iloc[3] # un indice, por defecto trae todas las columnas.

edad       14
cm        155
pais       mx
genero      M
Q1        NaN
Q2        8.0
Name: daniel, dtype: object

In [218]:
df.iloc[3,4] # un indice, una columna.

nan

In [220]:
df.iloc[[1,2,3], 2] # varios indices, una columna.

benito    ms
camilo    co
daniel    mx
Name: pais, dtype: object

In [93]:
df.iloc[2,[1,3,4]] # un indice, varias columnas.

cm        130
genero      F
Q1        8.0
Name: camilo, dtype: object

In [221]:
df.iloc[[2,4,5],[1,3,5]] # varios indices, varias columnas.

         cm genero   Q2
camilo  130      F  9.0
erika   125      M  8.0
fabian  120      M  8.0

In [ ]:
df.iloc[:,1] # todos los indices, una columna.

In [95]:
df.iloc[:,[1,3]] #todos los indices, varias columnas.

           cm genero
ana       115      M
benito    110      F
camilo    130      F
daniel    155      M
erika     125      M
fabian    120      M
gabriela  125      F

In [226]:
df.iloc[1,:]

edad         9
cm         110
pais        ms
genero       F
Q1        10.0
Q2         9.0
Name: benito, dtype: object

In [96]:
df.iloc[[1,3],:] # varios indices, todas las columnas.

        edad   cm pais genero    Q1   Q2
benito     9  110   ms      F  10.0  9.0
daniel    14  155   mx      M   NaN  8.0

In [97]:
df['edad'] >=12

ana         False
benito      False
camilo       True
daniel       True
erika        True
fabian      False
gabriela     True
Name: edad, dtype: bool

In [98]:
df[df['edad'] >=12]

          edad   cm pais genero   Q1   Q2
camilo      13  130   co      F  8.0  9.0
daniel      14  155   mx      M  NaN  8.0
erika       12  125   mx      M  7.0  8.0
gabriela    12  125   ch      F  3.0  9.0

In [99]:
df[(df['edad'] >=12) & (df['pais'] == 'mx')]

        edad   cm pais genero   Q1   Q2
daniel    14  155   mx      M  NaN  8.0
erika     12  125   mx      M  7.0  8.0

In [100]:
df.query('edad > 12')

        edad   cm pais genero   Q1   Q2
camilo    13  130   co      F  8.0  9.0
daniel    14  155   mx      M  NaN  8.0

In [101]:
df['Q2'] >= df['Q1']

ana          True
benito      False
camilo       True
daniel      False
erika        True
fabian       True
gabriela     True
dtype: bool

In [102]:
df[df['Q2'] >= df['Q1']]

          edad   cm pais genero   Q1   Q2
ana         10  115   co      M  5.0  7.0
camilo      13  130   co      F  8.0  9.0
erika       12  125   mx      M  7.0  8.0
fabian      11  120   ch      M  8.0  8.0
gabriela    12  125   ch      F  3.0  9.0