In [11]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [1]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive #conectarse a drive.
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd '/content/drive/My Drive/Colab Notebooks/Curso pandas'
!ls

/content/drive/My Drive/Colab Notebooks/Curso pandas
'2 Dataframes.ipynb'  '3 save and load.ipynb'   primeros_pasos.ipynb

In [ ]:
'Hola {}'.format('Mundo')

'Hola Mundo'

In [ ]:
!mkdir '/content/drive/My Drive/Colab Notebooks/Curso pandas/db'

In [ ]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/Curso pandas/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/Curso pandas/db/test.csv'

In [5]:
dict_data = {
    'edad' : [10,9,13,14,12,11,12],
    'cm' : [115,110,130,155,125,120,125],
    'pais' : ['co', 'ms', 'co','mx', 'mx','ch','ch'],
    'genero' : ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [5,10,8,np.nan,7,8,3],
    'Q2' : [7,9,9,8,8,8,9.]
  }
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9.0],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'ms', 'co', 'mx', 'mx', 'ch', 'ch']}

In [6]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   ms      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [ ]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/Curso pandas/db/{}'.format('test.csv')
dir_pandas

In [ ]:
df.to_csv(dir_pandas, index= False)

In [ ]:
ls '/content/drive/My Drive/Colab Notebooks/Curso pandas/db/'

test.csv

In [ ]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Curso pandas/db/test.csv', sep='|')
df_read

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   ms      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [ ]:
df.to_csv(dir_pandas, sep ='|', index= False)

In [2]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/Curso pandas/db/{}'
dir_pandas

'/content/drive/My Drive/Colab Notebooks/Curso pandas/db/{}'

In [7]:
df.to_excel(dir_pandas.format('text.xlsx'), index=False, sheet_name ='Hoja_uno')

In [8]:
pd.read_excel(dir_pandas.format('text.xlsx'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   ms      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [9]:
df.to_json(dir_pandas.format('test.json'))

In [15]:
pd.read_json(dir_pandas.format('test.json'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   ms      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [16]:
df.to_pickle(dir_pandas.format('test.pkl'))

In [18]:
pd.read_pickle(dir_pandas.format('test.pkl'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   ms      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [19]:
df.to_parquet(dir_pandas.format('test.parquet'))

In [20]:
pd.read_parquet(dir_pandas.format('test.parquet'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   ms      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [21]:
df.to_hdf(dir_pandas.format('test.hdf'), key='data', format='table')

In [22]:
pd.read_hdf(dir_pandas.format('test.hdf'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   ms      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0