In [1]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
#from google.colab import drive
#drive.mount('/content/drive/')

In [4]:
directorio = 'C:/Users/luisp/Desktop/Cursos/python/Jupiter_Notebooks/db/{}'.format('')

In [5]:
cd C:/Users/luisp/Desktop/Cursos/python/Jupiter_Notebooks/db/

C:\Users\luisp\Desktop\Cursos\python\Jupiter_Notebooks\db

In [6]:
#mv -v 'Copy of Meteorite_Landings.csv' 'Meteorite_landings.csv'

In [7]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 04E0-B438

 Directory of C:\Users\luisp\Desktop\Cursos\python\Jupiter_Notebooks\db

03/16/2022  16:49    <DIR>          .
03/16/2022  16:49    <DIR>          ..
03/16/2022  16:48           164,768 API_AG.LND.AGRI.K2_DS2_en_csv_v2_716226.csv
03/16/2022  16:48           145,140 API_AG.LND.FRST.K2_DS2_en_csv_v2_716262.csv
03/16/2022  16:48           193,864 API_EG.USE.ELEC.KH.PC_DS2_en_csv_v2_715482.csv
03/16/2022  16:49           177,911 API_EN.ATM.CO2E.KT_DS2_en_csv_v2_713263.csv
03/16/2022  16:49           175,665 API_SP.POP.TOTL_DS2_en_csv_v2_713131.csv
03/15/2022  10:27           224,614 covid_19_data.csv
03/15/2022  17:46        22,680,393 GlobalLandTemperaturesByCountry.csv
03/12/2022  09:23         1,034,821 london_merged.csv
03/10/2022  22:10         4,769,811 Meteorite_landings.csv
03/12/2022  17:00            29,719 poblacion.csv
03/10/2022  17:17               163 test.csv
03/10/2022  21:41            84,959 test.hdf
03/10/2022  21:11               388 test.json
03/10/2022  21:39             4,639 test.parquet
03/10/2022  21:37             1,179 test.pkl
03/10/2022  21:11             5,176 text.xlsx
              16 File(s)     29,693,210 bytes
               2 Dir(s)  169,692,057,600 bytes free

In [8]:
df_meteorites = pd.read_csv('Meteorite_landings.csv')

In [9]:
df_meteorites.head(5)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [10]:
df_meteorites.tail(5)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)"

In [11]:
df_meteorites.sample(5)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
25620,Miller Range 090541,55019,Valid,L6,1.00,Found,01/01/2009 12:00:00 AM,0.00000,0.00000,"(0.0, 0.0)"
5054,Batyushkovo,51586,Valid,L5,4620.00,Found,01/01/2007 12:00:00 AM,55.54867,35.29950,"(55.54867, 35.2995)"
36928,Sayh al Uhaymir 023,23215,Valid,H6,136.00,Found,01/01/1999 12:00:00 AM,21.09033,57.24733,"(21.09033, 57.24733)"
45289,Yamato 983629,40251,Valid,H/L6,4.46,Found,01/01/1998 12:00:00 AM,0.00000,0.00000,"(0.0, 0.0)"
19651,Larkman Nunatak 06817,49689,Valid,H5,73.00,Found,01/01/2006 12:00:00 AM,0.00000,0.00000,"(0.0, 0.0)"

In [12]:
df_meteorites.shape

(45716, 10)

In [13]:
df_meteorites.size #filas por columnas

457160

In [14]:
df_meteorites.describe()

                 id      mass (g)        reclat       reclong
count  45716.000000  4.558500e+04  38401.000000  38401.000000
mean   26889.735104  1.327808e+04    -39.122580     61.074319
std    16860.683030  5.749889e+05     46.378511     80.647298
min        1.000000  0.000000e+00    -87.366670   -165.433330
25%    12688.750000  7.200000e+00    -76.714240      0.000000
50%    24261.500000  3.260000e+01    -71.500000     35.666670
75%    40656.750000  2.026000e+02      0.000000    157.166670
max    57458.000000  6.000000e+07     81.166670    354.473330

In [ ]:
df_meteorites.corr()

In [15]:
pd.options.display.float_format = '{:,.1f}'.format #colocar formato de decimales

In [16]:
df_meteorites.describe(include='all') #incluir mas informacion

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
count,45716,"45,716.0",45716,45716,"45,585.0",45716,45425,"38,401.0","38,401.0",38401
unique,45716,NaN,2,466,NaN,2,266,NaN,NaN,17100
top,Aachen,NaN,Valid,L6,NaN,Found,01/01/2003 12:00:00 AM,NaN,NaN,"(0.0, 0.0)"
freq,1,NaN,45641,8285,NaN,44609,3323,NaN,NaN,6214
mean,NaN,"26,889.7",NaN,NaN,"13,278.1",NaN,NaN,-39.1,61.1,NaN
std,NaN,"16,860.7",NaN,NaN,"574,988.9",NaN,NaN,46.4,80.6,NaN
min,NaN,1.0,NaN,NaN,0.0,NaN,NaN,-87.4,-165.4,NaN
25%,NaN,"12,688.8",NaN,NaN,7.2,NaN,NaN,-76.7,0.0,NaN
50%,NaN,"24,261.5",NaN,NaN,32.6,NaN,NaN,-71.5,35.7,NaN
75%,NaN,"40,656.8",NaN,NaN,202.6,NaN,NaN,0.0,157.2,NaN
max,NaN,"57,458.0",NaN,NaN,"60,000,000.0",NaN,NaN,81.2,354.5,NaN

In [17]:
df_meteorites.info() #ver categorias, object = texto

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

In [2]:
dir(1) #ver metodos de un tipo de dato

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [3]:
type(1)#ver tipo.

int

In [18]:
df_meteorites.dtypes

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year            object
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

In [19]:
df_meteorites.convert_dtypes().dtypes #convertir encontrando el formato mas adecuado para las variables

name            string
id               Int64
nametype        string
recclass        string
mass (g)       Float64
fall            string
year            string
reclat         Float64
reclong        Float64
GeoLocation     string
dtype: object

In [20]:
df_meteorites.nunique() #ver valores unicos de las columnas del dataframe

name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             266
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

In [21]:
df_meteorites[['fall','nametype']]

        fall nametype
0       Fell    Valid
1       Fell    Valid
2       Fell    Valid
3       Fell    Valid
4       Fell    Valid
...      ...      ...
45711  Found    Valid
45712  Found    Valid
45713  Found    Valid
45714  Found    Valid
45715  Found    Valid

[45716 rows x 2 columns]

In [22]:
df_meteorites[['fall','nametype']] = df_meteorites[['fall','nametype']].astype('category')

In [23]:
df_meteorites.dtypes #ver la nueva categoria 'category'

name             object
id                int64
nametype       category
recclass         object
mass (g)        float64
fall           category
year             object
reclat          float64
reclong         float64
GeoLocation      object
dtype: object

In [24]:
df_meteorites['fall'].unique() #encontrar valores unicos en una columna

['Fell', 'Found']
Categories (2, object): ['Fell', 'Found']

In [25]:
df_meteorites['fall'].value_counts() #encontrar valores unicos con su frecuencia

Found    44609
Fell      1107
Name: fall, dtype: int64

In [26]:
pd.get_dummies(df_meteorites['fall'])

       Fell  Found
0         1      0
1         1      0
2         1      0
3         1      0
4         1      0
...     ...    ...
45711     0      1
45712     0      1
45713     0      1
45714     0      1
45715     0      1

[45716 rows x 2 columns]

In [27]:
df_meteorites['ones'] = 1 
df_meteorites

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,ones
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.8,6.1,"(50.775, 6.08333)",1
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.2,10.2,"(56.18333, 10.23333)",1
2,Abee,6,Valid,EH4,"107,000.0",Fell,01/01/1952 12:00:00 AM,54.2,-113.0,"(54.21667, -113.0)",1
3,Acapulco,10,Valid,Acapulcoite,"1,914.0",Fell,01/01/1976 12:00:00 AM,16.9,-99.9,"(16.88333, -99.9)",1
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.2,-65.0,"(-33.16667, -64.95)",1
...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.0,17.0,"(29.037, 17.0185)",1
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.8,9.0,"(13.78333, 8.96667)",1
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.2,17.7,"(49.25, 17.66667)",1
45714,Zubkovsky,31357,Valid,L6,"2,167.0",Found,01/01/2003 12:00:00 AM,49.8,41.5,"(49.78917, 41.5046)",1
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,34.0,-115.7,"(33.98333, -115.68333)",1

In [28]:
df_meteorites[['fell', 'found']] = pd.get_dummies(df_meteorites['fall']) #asignar las 2 nuevas varaiables dummies de fall como columnas fell y found

In [29]:
df_meteorites

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,ones,fell,found
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.8,6.1,"(50.775, 6.08333)",1,1,0
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.2,10.2,"(56.18333, 10.23333)",1,1,0
2,Abee,6,Valid,EH4,"107,000.0",Fell,01/01/1952 12:00:00 AM,54.2,-113.0,"(54.21667, -113.0)",1,1,0
3,Acapulco,10,Valid,Acapulcoite,"1,914.0",Fell,01/01/1976 12:00:00 AM,16.9,-99.9,"(16.88333, -99.9)",1,1,0
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.2,-65.0,"(-33.16667, -64.95)",1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.0,17.0,"(29.037, 17.0185)",1,0,1
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.8,9.0,"(13.78333, 8.96667)",1,0,1
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.2,17.7,"(49.25, 17.66667)",1,0,1
45714,Zubkovsky,31357,Valid,L6,"2,167.0",Found,01/01/2003 12:00:00 AM,49.8,41.5,"(49.78917, 41.5046)",1,0,1
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,34.0,-115.7,"(33.98333, -115.68333)",1,0,1

In [30]:
df_meteorites['year']

0        01/01/1880 12:00:00 AM
1        01/01/1951 12:00:00 AM
2        01/01/1952 12:00:00 AM
3        01/01/1976 12:00:00 AM
4        01/01/1902 12:00:00 AM
                  ...
45711    01/01/1990 12:00:00 AM
45712    01/01/1999 12:00:00 AM
45713    01/01/1939 12:00:00 AM
45714    01/01/2003 12:00:00 AM
45715    01/01/1976 12:00:00 AM
Name: year, Length: 45716, dtype: object

In [31]:
pd.to_datetime(
    df_meteorites['year'],
    errors = 'coerce',
    format = '%m/%d/%Y %H:%M:%S %p'
)

0       1880-01-01 12:00:00
1       1951-01-01 12:00:00
2       1952-01-01 12:00:00
3       1976-01-01 12:00:00
4       1902-01-01 12:00:00
                ...
45711   1990-01-01 12:00:00
45712   1999-01-01 12:00:00
45713   1939-01-01 12:00:00
45714   2003-01-01 12:00:00
45715   1976-01-01 12:00:00
Name: year, Length: 45716, dtype: datetime64[ns]

In [32]:
df_meteorites['year'] = pd.to_datetime(
df_meteorites['year'],
errors = 'coerce',
format = '%m/%d/%Y %H:%M:%S %p'
)

In [33]:
df_meteorites.convert_dtypes().dtypes

name                   string
id                      Int64
nametype             category
recclass               string
mass (g)              Float64
fall                 category
year           datetime64[ns]
reclat                Float64
reclong               Float64
GeoLocation            string
ones                    Int64
fell                    UInt8
found                   UInt8
dtype: object

In [34]:
df_meteorites.rename(columns={'mass (g)':'mass'}, inplace=True) #.rename para cambiar el nombre de alguna columna
#inplace, los cambios toman lugar sin ser asignados al data frame

In [35]:
df_meteorites

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,ones,fell,found
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01 12:00:00,50.8,6.1,"(50.775, 6.08333)",1,1,0
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01 12:00:00,56.2,10.2,"(56.18333, 10.23333)",1,1,0
2,Abee,6,Valid,EH4,"107,000.0",Fell,1952-01-01 12:00:00,54.2,-113.0,"(54.21667, -113.0)",1,1,0
3,Acapulco,10,Valid,Acapulcoite,"1,914.0",Fell,1976-01-01 12:00:00,16.9,-99.9,"(16.88333, -99.9)",1,1,0
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01 12:00:00,-33.2,-65.0,"(-33.16667, -64.95)",1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990-01-01 12:00:00,29.0,17.0,"(29.037, 17.0185)",1,0,1
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999-01-01 12:00:00,13.8,9.0,"(13.78333, 8.96667)",1,0,1
45713,Zlin,30410,Valid,H4,3.3,Found,1939-01-01 12:00:00,49.2,17.7,"(49.25, 17.66667)",1,0,1
45714,Zubkovsky,31357,Valid,L6,"2,167.0",Found,2003-01-01 12:00:00,49.8,41.5,"(49.78917, 41.5046)",1,0,1
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976-01-01 12:00:00,34.0,-115.7,"(33.98333, -115.68333)",1,0,1

In [36]:
list(df_meteorites) #obtener rapidamente los nombres de columnas

['name',
 'id',
 'nametype',
 'recclass',
 'mass',
 'fall',
 'year',
 'reclat',
 'reclong',
 'GeoLocation',
 'ones',
 'fell',
 'found']

In [37]:
df_meteorites.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat',
       'reclong', 'GeoLocation', 'ones', 'fell', 'found'],
      dtype='object')

In [38]:
df_meteorites.head(2)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,ones,fell,found
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01 12:00:00,50.8,6.1,"(50.775, 6.08333)",1,1,0
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01 12:00:00,56.2,10.2,"(56.18333, 10.23333)",1,1,0

In [39]:
df_meteorites.drop

<bound method DataFrame.drop of              name     id nametype              recclass      mass   fall  \
0          Aachen      1    Valid                    L5      21.0   Fell
1          Aarhus      2    Valid                    H6     720.0   Fell
2            Abee      6    Valid                   EH4 107,000.0   Fell
3        Acapulco     10    Valid           Acapulcoite   1,914.0   Fell
4         Achiras    370    Valid                    L6     780.0   Fell
...           ...    ...      ...                   ...       ...    ...
45711  Zillah 002  31356    Valid               Eucrite     172.0  Found
45712      Zinder  30409    Valid  Pallasite, ungrouped      46.0  Found
45713        Zlin  30410    Valid                    H4       3.3  Found
45714   Zubkovsky  31357    Valid                    L6   2,167.0  Found
45715  Zulu Queen  30414    Valid                  L3.7     200.0  Found

                     year  reclat  reclong             GeoLocation  ones  \
0     1880-01-01 12:00:00    50.8      6.1       (50.775, 6.08333)     1
1     1951-01-01 12:00:00    56.2     10.2    (56.18333, 10.23333)     1
2     1952-01-01 12:00:00    54.2   -113.0      (54.21667, -113.0)     1
3     1976-01-01 12:00:00    16.9    -99.9       (16.88333, -99.9)     1
4     1902-01-01 12:00:00   -33.2    -65.0     (-33.16667, -64.95)     1
...                   ...     ...      ...                     ...   ...
45711 1990-01-01 12:00:00    29.0     17.0       (29.037, 17.0185)     1
45712 1999-01-01 12:00:00    13.8      9.0     (13.78333, 8.96667)     1
45713 1939-01-01 12:00:00    49.2     17.7       (49.25, 17.66667)     1
45714 2003-01-01 12:00:00    49.8     41.5     (49.78917, 41.5046)     1
45715 1976-01-01 12:00:00    34.0   -115.7  (33.98333, -115.68333)     1

       fell  found
0         1      0
1         1      0
2         1      0
3         1      0
4         1      0
...     ...    ...
45711     0      1
45712     0      1
45713     0      1
45714     0      1
45715     0      1

[45716 rows x 13 columns]>

In [40]:
df_meteorites.drop(['ones'], axis =1, inplace = True)# borrar una columna #axis 0 = 'index' axis 1 = 'columns' implace para ejecutar los cambios

In [41]:
df_meteorites.drop([0,2,4,6]).head(10) #borrando filas

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,fell,found
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01 12:00:00,56.2,10.2,"(56.18333, 10.23333)",1,0
3,Acapulco,10,Valid,Acapulcoite,"1,914.0",Fell,1976-01-01 12:00:00,16.9,-99.9,"(16.88333, -99.9)",1,0
5,Adhi Kot,379,Valid,EH4,"4,239.0",Fell,1919-01-01 12:00:00,32.1,71.8,"(32.1, 71.8)",1,0
7,Agen,392,Valid,H5,"30,000.0",Fell,1814-01-01 12:00:00,44.2,0.6,"(44.21667, 0.61667)",1,0
8,Aguada,398,Valid,L6,"1,620.0",Fell,1930-01-01 12:00:00,-31.6,-65.2,"(-31.6, -65.23333)",1,0
9,Aguila Blanca,417,Valid,L,"1,440.0",Fell,1920-01-01 12:00:00,-30.9,-64.5,"(-30.86667, -64.55)",1,0
10,Aioun el Atrouss,423,Valid,Diogenite-pm,"1,000.0",Fell,1974-01-01 12:00:00,16.4,-9.6,"(16.39806, -9.57028)",1,0
11,AÃ¯r,424,Valid,L6,"24,000.0",Fell,1925-01-01 12:00:00,19.1,8.4,"(19.08333, 8.38333)",1,0
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,1769-01-01 12:00:00,50.7,2.3,"(50.66667, 2.33333)",1,0
13,Akaba,426,Valid,L6,779.0,Fell,1949-01-01 12:00:00,29.5,35.0,"(29.51667, 35.05)",1,0

In [42]:
df_meteorites.drop(index = [0,2,4,6], columns = ['nametype', 'recclass']) #borrando filas & columnas

,name,id,mass,fall,year,reclat,reclong,GeoLocation,fell,found
1,Aarhus,2,720.0,Fell,1951-01-01 12:00:00,56.2,10.2,"(56.18333, 10.23333)",1,0
3,Acapulco,10,"1,914.0",Fell,1976-01-01 12:00:00,16.9,-99.9,"(16.88333, -99.9)",1,0
5,Adhi Kot,379,"4,239.0",Fell,1919-01-01 12:00:00,32.1,71.8,"(32.1, 71.8)",1,0
7,Agen,392,"30,000.0",Fell,1814-01-01 12:00:00,44.2,0.6,"(44.21667, 0.61667)",1,0
8,Aguada,398,"1,620.0",Fell,1930-01-01 12:00:00,-31.6,-65.2,"(-31.6, -65.23333)",1,0
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,172.0,Found,1990-01-01 12:00:00,29.0,17.0,"(29.037, 17.0185)",0,1
45712,Zinder,30409,46.0,Found,1999-01-01 12:00:00,13.8,9.0,"(13.78333, 8.96667)",0,1
45713,Zlin,30410,3.3,Found,1939-01-01 12:00:00,49.2,17.7,"(49.25, 17.66667)",0,1
45714,Zubkovsky,31357,"2,167.0",Found,2003-01-01 12:00:00,49.8,41.5,"(49.78917, 41.5046)",0,1
45715,Zulu Queen,30414,200.0,Found,1976-01-01 12:00:00,34.0,-115.7,"(33.98333, -115.68333)",0,1

In [43]:
df = df_meteorites.copy(deep= True)
df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,fell,found
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01 12:00:00,50.8,6.1,"(50.775, 6.08333)",1,0
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01 12:00:00,56.2,10.2,"(56.18333, 10.23333)",1,0
2,Abee,6,Valid,EH4,"107,000.0",Fell,1952-01-01 12:00:00,54.2,-113.0,"(54.21667, -113.0)",1,0
3,Acapulco,10,Valid,Acapulcoite,"1,914.0",Fell,1976-01-01 12:00:00,16.9,-99.9,"(16.88333, -99.9)",1,0
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01 12:00:00,-33.2,-65.0,"(-33.16667, -64.95)",1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990-01-01 12:00:00,29.0,17.0,"(29.037, 17.0185)",0,1
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999-01-01 12:00:00,13.8,9.0,"(13.78333, 8.96667)",0,1
45713,Zlin,30410,Valid,H4,3.3,Found,1939-01-01 12:00:00,49.2,17.7,"(49.25, 17.66667)",0,1
45714,Zubkovsky,31357,Valid,L6,"2,167.0",Found,2003-01-01 12:00:00,49.8,41.5,"(49.78917, 41.5046)",0,1
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976-01-01 12:00:00,34.0,-115.7,"(33.98333, -115.68333)",0,1

In [44]:
df.drop(['id'], axis=1, inplace=True)

In [45]:
df.head()

,name,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,fell,found
0,Aachen,Valid,L5,21.0,Fell,1880-01-01 12:00:00,50.8,6.1,"(50.775, 6.08333)",1,0
1,Aarhus,Valid,H6,720.0,Fell,1951-01-01 12:00:00,56.2,10.2,"(56.18333, 10.23333)",1,0
2,Abee,Valid,EH4,"107,000.0",Fell,1952-01-01 12:00:00,54.2,-113.0,"(54.21667, -113.0)",1,0
3,Acapulco,Valid,Acapulcoite,"1,914.0",Fell,1976-01-01 12:00:00,16.9,-99.9,"(16.88333, -99.9)",1,0
4,Achiras,Valid,L6,780.0,Fell,1902-01-01 12:00:00,-33.2,-65.0,"(-33.16667, -64.95)",1,0

In [48]:
df['reclat'].pow(df['reclong']) #producto punto o elevar.

0                                         23,770,121,483.0
1                                802,251,755,631,448,832.0
2                                                      0.0
3                                                      0.0
4                                                      NaN
                               ...
45711                  7,893,039,298,327,624,225,390,592.0
45712                                     16,451,773,181.0
45713            792,834,347,823,029,623,763,169,705,984.0
45714   27,472,906,687,309,392,156,934,324,884,889,445,...
45715                                                  0.0
Length: 45716, dtype: float64