In [6]:
import pandas as pd
import numpy as np
pd.__version__

'1.4.1'

In [2]:
df_left = pd.DataFrame(
                      {'X': ['x0', 'x1', 'x2', 'x3'],
                        'W': ['w0', 'w1', 'w2', 'w3'], 
                        'Y': ['y0', 'y1', 'y2', 'y3'] ,
                        'Mix': ['y2', 'y3', 'a2', 'a3']},
                       index=[0,1,2,3])
df_left

    X   W   Y Mix
0  x0  w0  y0  y2
1  x1  w1  y1  y3
2  x2  w2  y2  a2
3  x3  w3  y3  a3

In [3]:
df_right = pd.DataFrame(
                       {'Z': ['z2', 'z3', 'z4', 'z5'],
                         'A': ['a2', 'a3', 'a4', 'a5'], 
                         'Y': ['y2', 'y3', 'y4', 'y5']},
                        index=[2,3,4,5])
df_right

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

In [ ]:
pd.merge(df_left, df_right) #hace un innerjoin utilizando la columna en comun por defecto.

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

In [ ]:
pd.merge(df_left, df_right, how = 'inner', on = 'Y') #aca se optiene el mismo resultado, un equivalente a usar USING en sql. 
#por defecto pandas busca las columnas que tienen en comun.

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

In [ ]:
pd.merge(df_left, df_right, how = 'inner', left_on = 'Mix', right_on = 'Y') #Aca se seleccionan diferentes columnas con valores en comun en cada data frame.

    X   W Y_x Mix   Z   A Y_y
0  x0  w0  y0  y2  z2  a2  y2
1  x1  w1  y1  y3  z3  a3  y3

In [ ]:
pd.merge(df_left, df_right, how = 'inner', left_on = 'Mix', right_on = 'A')

    X   W Y_x Mix   Z   A Y_y
0  x2  w2  y2  a2  z2  a2  y2
1  x3  w3  y3  a3  z3  a3  y3

![](http://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)

In [ ]:
pd.merge(df_left, df_right, how = 'inner', on = 'Y')

    X   W   Y   Z   A
0  x2  w2  y2  z2  a2
1  x3  w3  y3  z3  a3

In [ ]:
pd.merge(df_left, df_right, how = 'left', on = 'Y')# valores para el dataframe de la izquierda.

    X   W   Y    Z    A
0  x0  w0  y0  NaN  NaN
1  x1  w1  y1  NaN  NaN
2  x2  w2  y2   z2   a2
3  x3  w3  y3   z3   a3

In [ ]:
pd.merge(df_left, df_right, how = 'right', on = 'Y') # valores para el dataframe de la derecha.

     X    W   Y   Z   A
0   x2   w2  y2  z2  a2
1   x3   w3  y3  z3  a3
2  NaN  NaN  y4  z4  a4
3  NaN  NaN  y5  z5  a5

In [ ]:
pd.merge(df_left, df_right, how = 'outer', on = 'Y') #todos los valores para ambos dataframes.

     X    W   Y    Z    A
0   x0   w0  y0  NaN  NaN
1   x1   w1  y1  NaN  NaN
2   x2   w2  y2   z2   a2
3   x3   w3  y3   z3   a3
4  NaN  NaN  y4   z4   a4
5  NaN  NaN  y5   z5   a5

In [6]:
df_left = pd.DataFrame(
                      {'X': ['x0', 'x1', 'x2', 'x3'],
                        'W': ['w0', 'w1', 'w2', 'w3'], 
                        'Y': ['y0', 'y1', 'y2', 'y3'],
                        'A': ['a0', 'a1', 'a2', 'a3'],})
df_left

    X   W   Y   A
0  x0  w0  y0  a0
1  x1  w1  y1  a1
2  x2  w2  y2  a2
3  x3  w3  y3  a3

In [7]:
df_right

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

In [8]:
pd.merge(df_left, df_right, how ='outer', on =['Y','A'])

     X    W   Y   A    Z
0   x0   w0  y0  a0  NaN
1   x1   w1  y1  a1  NaN
2   x2   w2  y2  a2   z2
3   x3   w3  y3  a3   z3
4  NaN  NaN  y4  a4   z4
5  NaN  NaN  y5  a5   z5

In [9]:
pd.merge(df_left, df_right, how ='outer') #por defecto pandas busca las columnas que tienen en comun.

     X    W   Y   A    Z
0   x0   w0  y0  a0  NaN
1   x1   w1  y1  a1  NaN
2   x2   w2  y2  a2   z2
3   x3   w3  y3  a3   z3
4  NaN  NaN  y4  a4   z4
5  NaN  NaN  y5  a5   z5

In [10]:
pd.merge(df_left, df_right, how ='outer', on = 'A')

     X    W  Y_x   A    Z  Y_y
0   x0   w0   y0  a0  NaN  NaN
1   x1   w1   y1  a1  NaN  NaN
2   x2   w2   y2  a2   z2   y2
3   x3   w3   y3  a3   z3   y3
4  NaN  NaN  NaN  a4   z4   y4
5  NaN  NaN  NaN  a5   z5   y5

In [11]:
pd.merge(df_left, df_right, how ='outer', on = 'A', suffixes=['_left','_right']) #colocar sufijos como en sql

     X    W Y_left   A    Z Y_right
0   x0   w0     y0  a0  NaN     NaN
1   x1   w1     y1  a1  NaN     NaN
2   x2   w2     y2  a2   z2      y2
3   x3   w3     y3  a3   z3      y3
4  NaN  NaN    NaN  a4   z4      y4
5  NaN  NaN    NaN  a5   z5      y5

In [7]:
dftest = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela'])

In [8]:
mujeres = dftest[dftest['genero'] == 'F']
mujeres['edad'].mean()

11.25

In [9]:
dftest.groupby(['genero'])['edad'].mean()

genero
F    11.25
M    12.00
Name: edad, dtype: float64

In [10]:
print(dftest.iloc[[4],[2]])

      pais
Erika   mx

In [11]:
print(dftest['edad'] >= 12)

Ana         False
Benito      False
Camilo       True
Daniel       True
Erika        True
Paola       False
Gabriela     True
Name: edad, dtype: bool

In [12]:
print(dftest.loc[['Ana'],['cm']])

      cm
Ana  115

In [13]:
print(dftest.query("(edad >= 12) & (cm < 130) & (Q1 > 5)")['Q2'])

Erika    8.0
Name: Q2, dtype: float64

In [19]:
print(dftest.query("(edad >= 12) & (cm < 130) & (Q1 > 5)")['Q2'])

Erika    8.0
Name: Q2, dtype: float64

In [18]:
print(dftest.iloc[[4],[2]])

      pais
Erika   mx

In [20]:
df123 = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela'])

In [21]:
print(df123.query("(edad >= 12) & (cm < 130) & (Q1 > 5)")['Q2'])

Erika    8.0
Name: Q2, dtype: float64